NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDxgdwU84vFNoCOUTl-HRdGYonLIcDaXFw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=luban-workshop-restaurant.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=luban-workshop-restaurant
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=luban-workshop-restaurant.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=360623290287
NEXT_PUBLIC_FIREBASE_APP_ID=1:360623290287:web:1b3f841db8713dd113e15a
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VG44GV9BQV
NEXT_PUBLIC_PUBLIC_SITE_URL=https://lubanrestaurant.com
NEXT_PUBLIC_ADMIN_API_BASE_URL=/api
