.firebase/
node_modules/
tmp/
coverage/
dist/
build/

*.html
admin-inline.js
tailwind.css
assets/js/*.bundle.js

assets/**/*.gif
assets/**/*.jpeg
assets/**/*.jpg
assets/**/*.png
assets/**/*.webp
docs/**/*.gif
docs/**/*.jpeg
docs/**/*.jpg
docs/**/*.png
docs/**/*.webp
